<a href="https://colab.research.google.com/github/andriyashchenko/Jupyter/blob/develop/Third.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Третий файл

In [1]:
print('Hello World!')

Hello World!

In [5]:
import pandas as pd

data = pd.read_csv("P1_metro.csv", header = 0)
data.head(8)

,'step','till_10','til_12','till_14','till_16','till_18','till_20,till_22'
0,0,254348,235478,210569,299341,356450,448679,587123
1,1,254652,236400,239500,299124,356401,448520,587100
2,2,254124,236421,239821,299213,356211,449718,587330
3,3,253442,236220,239700,299345,356325,449303,587624
4,4,263590,236375,239900,299490,356504,449254,587493
5,5,263848,236778,239468,299625,356634,449392,587456
6,6,263593,236115,239311,299666,356111,449666,587444